<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      {% assign current = page.url | downcase | split: '/' %}
      <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="transition">
                    <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" or current[1] == "post" or current[1] == "book" or current[1] == "project" %} class="normal" {% endif %} class="active">home</a>
                </li>
                <!-- <li class="transition">
                    <a href="{{ '/project' | prepend: site.baseurl }}" {% if current[1] == "project" %} class="active"{% endif %} >Project</a>
                </li> -->
                <li class="transition">
                    <a href="{{ '/post' | prepend: site.baseurl }}" {% if current[1] == "post" %} class="active"{% endif %} >post</a>
                </li>
                <li class="transition">
                    <a href="{{ '/book' | prepend: site.baseurl }}" {% if current[1] == "book" %} class="active"{% endif %} >book</a>
                </li>
            </ul>
        </div>
      </nav>
    
    {% if page.post-header == true %}
        {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
        {% include project-header.html %}
    {% endif %}
      
    <main>
      {{ content }}
        
        <!-- {% if page.text == true %}
            {% include share.html %}
        {% endif %} -->

    </main>
    <script src="https://utteranc.es/client.js"
        repo="bn-tw2020/bn-tw2020.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    {% include footer.html %}
   
  </body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSC9VLZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
